* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    padding: 1rem;
    background-color: #187C41;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}

header h2 {
    color: white;
    font-size: 2.6em;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
}

.menu-desktop {
    display: none;
}

.menu-mobile {
    margin-left: auto;
    cursor: pointer;
}

.menu-mobile i {
    font-size: 2em;
    color: white;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar li a {
    /* color: #187C41; */
    color: #0c3e05;
    /* padding: 0 1rem; */
    border: 1px grey;

}

.sidebar:last-child {
    margin-top: auto;
}

.sidebar i {
    font-size: 1em;
    color: #187C41
}

#hero {
    display: flex;
    flex-direction: row;
    margin-block-start: 1rem;
    height: 90%;
    position: relative;
    /* background-color: #547e38; */
    background-image: url(./assets/mobile\ bg\ 2.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 1rem;
    border-radius: 2em;
    box-shadow: rgb(244, 241, 241);
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#hero h2 {
    font-size: 1.875rem;
    z-index: 1;
    color: #187C41;
    margin-top: 6.5em;
}

#hero p {
    font-size: 1.2rem;
    font-weight: 500;
    z-index: 1;
    color: #187C41;
}

.free-trial {
    display: block;
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    text-align: center;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    /* background-color: #187C41; */
    color: white;
    margin-top: 1rem;
    background-image: linear-gradient(to right, #187c41 0%, #6aa781 51%, #1D976C 100%);
    text-transform: uppercase;
    box-shadow: 0 0 20px #eee;
    transition: 0.5s;
    background-size: 200% auto;
}

.free-trial:hover {
    background-position: right center;
}

/* tablet screen */
@media (min-width: 769px) and (max-width: 1023px) {}


/* desktop screen */
/* @media(min-width: 768px){} */
@media (min-width: 1023px) {
    .menu-desktop {
        display: flex;
        gap: 2.5rem;
        margin-left: 10rem;
        justify-content: space-evenly;
        /* background: #111; */
    }

    .menu-desktop a {
        font-weight: 500;
        padding: 0.375rem 0.5rem;
    }

    .menu-desktop a:hover,
    .menu-desktop a:active {
        color: #187C41;
        background-color: white;
        padding: 0.375rem 0.5rem;
        border-radius: 1rem;
    }

    .menu-mobile {
        display: none;
    }

    .button-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .header-button {
        padding: 0.375rem 0.7rem;
        border-radius: 0.625rem;
        font-size: 1rem;
        color: #187C41;
        outline: none;
        border: none;
    }

    #hero {
        background-image: url(./assets/desktop\ bg\ 2.png);
        background-size: cover;
        background-position: center;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-left: 0.625rem;
        /* justify-content: center; */
        text-align: left;
        align-items: flex-start;
        width: 60%;
    }


    #hero h2 {
        font-size: 3rem;
        margin-top: 0;

    }

    #hero p {
        font-size: 2rem;
    }

    .free-trial {
        padding: 1rem 1.5rem;
        border-radius: 2rem;
    }
}