* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    padding: 1rem;
    background-color: #187C41;
}

header {
    width: 100%;
    display: flex;
    padding: 0 0.3rem;
}

header h2 {
    /* color: #187C41; */
    color: white;
    font-size: 2.6em;

}

.menu-mobile {
    align-self: flex-end;
    margin-left: auto;

}

i {
    font-size: 2em;
    color: white;
}

#hero {
    display: flex;
    flex-direction: row;
    margin-block-start: 1rem;
    height: 90%;
    position: relative;
    /* background-color: #547e38; */
    background-image: url(./assets/mobile\ bg\ 2.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 1rem;
    border-radius: 2em;
    box-shadow: rgb(244, 241, 241);
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#hero h2 {
    font-size: 1.875rem;
    z-index: 1;
    color: #187C41;
    margin-top: 6.5em;
}

#hero p {
    font-size: 1.2rem;
    font-weight: 500;
    z-index: 1;
    color: #187C41;
}

button {
    display: block;
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    text-align: center;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    /* background-color: #187C41; */
    color: white;
    margin-top: 1rem;
    background-image: linear-gradient(to right, #187c41 0%, #6aa781 51%, #1D976C 100%);
    text-transform: uppercase;
    box-shadow: 0 0 20px #eee;
    transition: 0.5s;
    background-size: 200% auto;
}

button:hover {
    background-position: right center;
}

/* tablet screen */
@media (min-width: 769px) and (max-width: 1023px) {}


/* desktop screen */
@media (min-width: 1023px) {
    #hero {
        background-image: url(./assets/desktop\ bg\ 2.png);
        background-size: cover;
        background-position: center;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-left: 0.625rem;
        /* justify-content: center; */
        text-align: left;
        align-items: flex-start;
        width: 60%;
    }


    #hero h2 {
        font-size: 3rem;
        margin-top: 0;

    }

    #hero p {
        font-size: 2rem;
    }

    button {
        padding: 1rem 1.5rem;
        border-radius: 2rem;
    }
}