* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    padding: 2rem;
}

header {
    width: 100%;
    display: flex;
}

header h2 {
    color: #409707;
    font-size: 2em;

}

.menu-mobile {
    align-self: flex-end;
    margin-left: auto;

}

i {
    font-size: 2em;
}

#hero {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block-start: 1rem;
    height: 90%;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #547e38;
    color: white;
    padding: 1rem;
}

#hero h2 {
    font-size: 1.87rem;
}

#hero p {
    font-size: 1.25rem;
}