* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    padding: 1rem;
    background-color: #187C41;
}

header {
    width: 100%;
    display: flex;
    padding: 0 0.3rem;
}

header h2 {
    /* color: #187C41; */
    color: white;
    font-size: 2em;

}

.menu-mobile {
    align-self: flex-end;
    margin-left: auto;

}

i {
    font-size: 2em;
}

#hero {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block-start: 1rem;
    height: 90%;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #547e38;
    background-image: url(./assets/desktop\ bg.png);
    color: white;
    padding: 1rem;
    border-radius: 2em;
    box-shadow: rgb(244, 241, 241);
}

#hero h2 {
    font-size: 1.87rem;
    z-index: 1;
    color: #187C41;
}

#hero p {
    font-size: 1.25rem;
    z-index: 1;
    color: #187C41;
}

button {
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    text-align: center;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    /* background-color: #187C41; */
    color: white;

    background-image: linear-gradient(to right, #187c41 0%, #6aa781 51%, #1D976C 100%);
    text-transform: uppercase;
    box-shadow: 0 0 20px #eee;
    transition: 0.5s;
    display: block;
    background-size: 200% auto;


}

button:hover {
    background-position: right center;

}

.btn-grad {

    color: white;
}

.btn-grad:hover {
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

@media (max-width: 768px) {
    #hero {
        background-image: url(./assets/mobile\ bg\ 2.png);
        background-size: cover;
        background-position: center;
    }

    #hero h2 {
        margin-top: 9rem;
    }
}